[submodule "bundle"]
    path = deps/bundle
    url = https://github.com/r-lyeh/bundle
[submodule "bubble"]
    path = deps/bubble
    url = https://github.com/r-lyeh/bubble
[submodule "sao"]
    path = deps/sao
    url = https://github.com/r-lyeh/sao
[submodule "wire"]
    path = deps/wire
    url = https://github.com/r-lyeh/wire
