[submodule "glfw"]
    path = deps/glfw
    url = https://github.com/glfw/glfw
[submodule "iqm"]
    path = deps/iqm
    url = https://github.com/lsalzman/iqm
[submodule "glm"]
    path = deps/glm
    url = https://github.com/g-truc/glm
[submodule "vaserenderer"]
    path = deps/vaserenderer
    url = https://github.com/tyt2y3/vaserenderer
[submodule "bullet3"]
    path = deps/bullet3
    url = https://github.com/bulletphysics/bullet3
[submodule "glew"]
    path = deps/glew
    url = https://github.com/HeliumProject/glew

[submodule "atlas"]
    path = deps/atlas
    url = https://github.com/r-lyeh/atlas
[submodule "auth"]
    path = deps/auth
    url = https://github.com/r-lyeh/auth
[submodule "base91x"]
    path = deps/base91x
    url = https://github.com/r-lyeh/base91x
[submodule "blender"]
    path = deps/blender
    url = https://github.com/r-lyeh/blender
[submodule "bubble"]
    path = deps/bubble
    url = https://github.com/r-lyeh/bubble
[submodule "bundle"]
    path = deps/bundle
    url = https://github.com/r-lyeh/bundle
[submodule "bundler"]
    path = deps/bundler
    url = https://github.com/r-lyeh/bundler
[submodule "cocoa"]
    path = deps/cocoa
    url = https://github.com/r-lyeh/cocoa
[submodule "codex"]
    path = deps/codex
    url = https://github.com/r-lyeh/codex
[submodule "depot"]
    path = deps/depot
    url = https://github.com/r-lyeh/depot
[submodule "dot"]
    path = deps/dot
    url = https://github.com/r-lyeh/dot
[submodule "duty"]
    path = deps/duty
    url = https://github.com/r-lyeh/duty
[submodule "eve"]
    path = deps/eve
    url = https://github.com/r-lyeh/eve
[submodule "fontbase"]
    path = deps/fontbase
    url = https://github.com/r-lyeh/fontbase
[submodule "fsm"]
    path = deps/fsm
    url = https://github.com/r-lyeh/fsm
[submodule "gate"]
    path = deps/gate
    url = https://github.com/r-lyeh/gate
[submodule "graveyard"]
    path = deps/graveyard
    url = https://github.com/r-lyeh/graveyard
[submodule "heal"]
    path = deps/heal
    url = https://github.com/r-lyeh/heal
[submodule "hyde"]
    path = deps/hyde
    url = https://github.com/r-lyeh/hyde
[submodule "imgui"]
    path = deps/imgui
    url = https://github.com/r-lyeh/imgui
[submodule "jpng"]
    path = deps/jpng
    url = https://github.com/r-lyeh/jpng
[submodule "JXML"]
    path = deps/JXML
    url = https://github.com/r-lyeh/JXML
[submodule "JXMLex"]
    path = deps/JXMLex
    url = https://github.com/r-lyeh/JXMLex
[submodule "knot"]
    path = deps/knot
    url = https://github.com/r-lyeh/knot
[submodule "kult"]
    path = deps/kult
    url = https://github.com/r-lyeh/kult
[submodule "medea"]
    path = deps/medea
    url = https://github.com/r-lyeh/medea
[submodule "memo"]
    path = deps/memo
    url = https://github.com/r-lyeh/memo
[submodule "metatracker"]
    path = deps/metatracker
    url = https://github.com/r-lyeh/metatracker
[submodule "moon9"]
    path = deps/moon9
    url = https://github.com/r-lyeh/moon9
[submodule "oak"]
    path = deps/oak
    url = https://github.com/r-lyeh/oak
[submodule "petitsuite"]
    path = deps/petitsuite
    url = https://github.com/r-lyeh/petitsuite
[submodule "rgb332"]
    path = deps/rgb332
    url = https://github.com/r-lyeh/rgb332
[submodule "sand"]
    path = deps/sand
    url = https://github.com/r-lyeh/sand
[submodule "sao"]
    path = deps/sao
    url = https://github.com/r-lyeh/sao
[submodule "sentry"]
    path = deps/sentry
    url = https://github.com/r-lyeh/sentry
[submodule "sharpdoc"]
    path = deps/sharpdoc
    url = https://github.com/r-lyeh/sharpdoc
[submodule "silo"]
    path = deps/silo
    url = https://github.com/r-lyeh/silo
[submodule "skull"]
    path = deps/skull
    url = https://github.com/r-lyeh/skull
[submodule "sole"]
    path = deps/sole
    url = https://github.com/r-lyeh/sole
[submodule "sqlight"]
    path = deps/sqlight
    url = https://github.com/r-lyeh/sqlight
[submodule "stringbase"]
    path = deps/stringbase
    url = https://github.com/r-lyeh/stringbase
[submodule "test-allocators"]
    path = deps/test-allocators
    url = https://github.com/r-lyeh/test-allocators
[submodule "test-physics"]
    path = deps/test-physics
    url = https://github.com/r-lyeh/test-physics
[submodule "tracey"]
    path = deps/tracey
    url = https://github.com/r-lyeh/tracey
[submodule "trie"]
    path = deps/trie
    url = https://github.com/r-lyeh/trie
[submodule "unordered_map"]
    path = deps/unordered_map
    url = https://github.com/r-lyeh/unordered_map
[submodule "vault"]
    path = deps/vault
    url = https://github.com/r-lyeh/vault
[submodule "variant"]
    path = deps/variant
    url = https://github.com/r-lyeh/variant
[submodule "wake"]
    path = deps/wake
    url = https://github.com/r-lyeh/wake
[submodule "wave"]
    path = deps/wave
    url = https://github.com/r-lyeh/wave
[submodule "wire"]
    path = deps/wire
    url = https://github.com/r-lyeh/wire
[submodule "wood"]
    path = deps/wood
    url = https://github.com/r-lyeh/wood
